@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url('/BarlowSemiCondensed-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
.embla {
  overflow: hidden;
  height: 100%;
}

.embla__container {
  display: flex;
  height: 100%;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
